<h1>Heroes</h1>

<div class="row">
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-outline-primary" name="button" [routerLink]="['/hero', 'new']">
          Agregar heroe
        </button>
    </div>
</div>


<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">

            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Casa</th>
                        <th>Historia</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of heroes | pipeKeys; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ heroes[k].name }}</td>
                        <td>{{ heroes[k].house }}</td>
                        <td>{{ heroes[k].history }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>