<h1>Heroes</h1>

<div class="row">
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-outline-primary" name="button" [routerLink]="['/hero', 'new']">
          Agregar heroe
        </button>
    </div>
</div>


<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">

            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Casa</th>
                        <th>Historia</th>
                        <th class="test-right">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let key of heroes | pipeKeys; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ heroes[key].name }}</td>
                        <td>{{ heroes[key].house }}</td>
                        <td>{{ heroes[key].history }}</td>
                        <td class="test-right">
                            <button type="button" class="btn-outline-success" [routerLink]="['/hero', key]">
                                    Editar
                            </button>
                            <button type="button" class="btn-outline-danger" (click)="deleteHeroFromFirebase(key)">
                                    Borrar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="(heroes | pipeKeys).length === 0 && !isLoading" class="alert alert-info" role="alert">
                <strong>No hay mas registros para mostrar</strong>
            </div>

            <div *ngIf="isLoading" class="alert alert-warning" role="alert">
                <strong>Cargando....</strong> Por favor espere
            </div>

        </div>
    </div>
</div>